<ion-header>
  <ion-toolbar>
    <ion-icon (click)="redirectToMessages()" name="arrow-back-outline" size="large" style="float:left"></ion-icon>
    <ion-title style="float:left"><b>{{target_Username}}</b></ion-title>
    <ion-icon (click)="searchDirectMessages()" name="search-sharp" size="large" style="float:right" class="clickable">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="messages" *ngIf="!doneLoading">
    <p>Loading messages please wait!</p>
  </div>
  <div class="messages" *ngIf="doneLoading" id="messagesDiv">
    <ion-list>
      <ion-item *ngFor="let message of allMessages">
        <ion-avatar slot="start">
          <img src="{{message.image}}">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <b>{{message.username}}</b>
          <p>{{message.message}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-input id="sendmessagebox" class="messageInput" type="text" placeholder="Type Here..." #messagetosend (keyup.enter)="sendMessage(messagetosend)"></ion-input>
  <ion-icon name="send-sharp" size="large" style="float:right" class="clickable" (click)="sendMessage(messagetosend)"
    type="submit"></ion-icon>
</ion-content>